@using PagedList.Mvc
@using BookStore.Models
@model PagedList.PagedList<SACH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="templatemo_content">

    <div id="templatemo_content_left">
        <div class="templatemo_content_left_section">
            <h1>Categories</h1>
            <div>
                @Html.Action("Categories")
            </div>
        </div>
        <div class="templatemo_content_left_section">
            <h1>Publisher</h1>
            <div>
                @Html.Action("Publisher")
            </div>
        </div>
        <div class="templatemo_content_left_section">

        </div>
    </div> <!-- end of content left -->

    <h1>Top 5 Sách Mới Nhất</h1>

    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Title</th>
                <th>Reviews Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", "Home", new { id = book.Masach })">
                            <img src="~/image/@book.Anhbia" alt="@book.Tensach" style="width:100px;height:auto;">
                        </a>
                    </td>
                    <td>
                        <h4 style="text-align: center">@book.Tensach</h4>
                    </td>
                    <td class="ratings">
                        <p>15 reviews</p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount;
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>

    <a href="subpage.html"><img src="~/image/templatemo_ads.jpg" alt="ads" /></a>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>

</div> <!-- end of content right -->
